name: CoreDNS

on:
  pull_request:
    types: [closed]
    paths:
      - .github/workflows/coredns.yaml
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  attestations: write
  packages: write

jobs:
  docker-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        id: checkout
        with:
          # renovate: datasource=github-releases
          repository: coredns/coredns
          ref: v1.13.1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Setup CoreDNS plugin
        run: |
          cat <<EOF > plugin.cfg
          root:root
          metadata:metadata
          geoip:geoip
          cancel:cancel
          tls:tls
          timeouts:timeouts
          reload:reload
          nsid:nsid
          bufsize:bufsize
          bind:bind
          debug:debug
          trace:trace
          ready:ready
          health:health
          pprof:pprof
          prometheus:metrics
          errors:errors
          log:log
          dnstap:dnstap
          local:local
          dns64:dns64
          acl:acl
          any:any
          chaos:chaos
          loadbalance:loadbalance
          tsig:tsig
          cache:cache
          rewrite:rewrite
          header:header
          dnssec:dnssec
          autopath:autopath
          minimal:minimal
          template:template
          transfer:transfer
          hosts:hosts
          route53:route53
          azure:azure
          clouddns:clouddns
          k8s_external:k8s_external
          kubernetes:kubernetes
          file:file
          auto:auto
          secondary:secondary
          alternate:github.com/coredns/alternate
          etcd:etcd
          loop:loop
          forward:forward
          grpc:grpc
          erratic:erratic
          whoami:whoami
          on:github.com/coredns/caddy/onevent
          sign:sign
          view:view
          EOF
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Build binary
        run: make
      - uses: docker/setup-buildx-action@v3
      - name: Docker build and push
        id: publish
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/coredns
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with: &provenance
          subject-name: ghcr.io/${{ github.repository_owner }}/coredns
          subject-digest: steps.publish.outputs.digest
          push-to-registry: true
      - name: Generate SBOM attestation
        uses: actions/attest-sbom@v2
        with:
          <<: *provenance
          sbom-path: sbom.json
