name: CoreDNS

on:
  pull_request:
    types: [closed]
    paths:
      - .github/workflows/coredns.yaml
      - coredns/
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  attestations: write
  packages: write

jobs:
  docker-release:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: coredns
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        id: checkout
      - uses: actions/setup-go@v6
        with:
          go-version-file: coredns/go.mod
          cache-dependency-path: coredns/go.sum
      - name: Check file idempotency
        run: |-
          go generate
          git update-index --really-refresh
          if ! git diff-index --quiet --exit-code HEAD; then
            echo "::error::Uncomitted contents when running \`go generate\`"
            echo "::error::$(git status)"
            exit 1
          fi
      - name: Build binary
        run: CGO_ENABLED=0 go build -v -ldflags="-s -w -X github.com/coredns/coredns/coremain.GitCommit=$(git describe --dirty --always)"
      - id: coredns_version
        run: echo "value=$(go list -f '{{.Version}}' -m github.com/coredns/coredns)" >> $GITHUB_OUTPUT
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: docker/setup-buildx-action@v3
      - name: Docker build and push
        id: publish
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: &image ghcr.io/${{ github.repository_owner }}/coredns:${{ steps.coredns_version.outputs.value }}
          context: ./coredns
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/coredns
          subject-digest: ${{ steps.publish.outputs.digest }}
          push-to-registry: true
      - name: Generate SBOM
        uses: anchore/sbom-action@v0.20.9
        with:
          image: *image
          output-file: &sbom coredns.spdx.json
          format: cyclonedx-json
      - uses: actions/attest-sbom@v2
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/coredns
          subject-digest: ${{ steps.publish.outputs.digest }}
          push-to-registry: true
          sbom-path: *sbom
